     .breadcrumb-nav {
        margin-top: 5px;
        /* 固定ナビゲーションバーの下にスペースを確保 */
    }

    .breadcrumb {
        background-color: transparent;
        /* 背景を透明に */
        padding: 0;
        /* パディングを無くす */
        margin-bottom: 20px;
        /* 下の余白 */
        list-style: none;
        /* デフォルトのリストスタイルを無効にする */
        display: flex;
        gap: 5px;
    }

    .breadcrumb-item {
        font-size: 1rem;
    }
    .breadcrumb-item:first-child::before {
        content: "";
    }

    .breadcrumb-item::before {
        content: ">";
        margin-right: 5px;
        color: gray;
        position: absolute;
        left: -10px;
    }


    .breadcrumb-item a {
        text-decoration: none;
        /* リンクの下線を消す */
        color: orange;
        /* リンクの色をオレンジに */
    }

    .breadcrumb-item.active {
        color: black;
        /* アクティブなアイテムの色 */
    }

    /* コンテンツエリアのスタイル */
    .container {
        width: 80%;
        margin: auto;
        padding-top: 100px;
        /* ナビゲーションバーの高さを考慮してパディングを追加 */
    }

    /* フォームのスタイル */
    .form-delete,
    .form-update {
        margin-top: 20px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .form-column {
        flex: 1;
        margin-right: 20px;
    }

    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .image-preview {
        max-width: 100%;
        height: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-input,
    .form-input-file,
    .form-textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-check-inline {
        display: inline-block;
        margin-right: 10px;
    }

    .error-message {
        color: red;
        font-size: 0.9rem;
        margin-top: 5px;
        display: block;
    }

    /* ボタンのスタイル */
    .btn {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
    }

    .btn-danger {
        background-color: red;
        color: white;
    }

    .btn-back {
        background-color: lightgray;
        color: black;
        text-align: center;
    }

    .btn-submit {
        background-color: orange;
        color: white;
        text-align: center;
    }

    .form-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }